/* Import for Orbitron */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
/* Bonus 1 */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* 2 */
html{
    font-family: Orbitron;
}
/* or body{ or
:root{ */
/* 3 */
span{
    font-weight: bold;
}
/* 4 */
h1{
    font-size: 50px;
    /* 5 */
    letter-spacing: 10px;
    /* 6 */
    text-align: center;
    /* 7 */
    text-transform: uppercase;
    /* 8 */
    text-decoration: underline;

}
/* 9 */
#series-movies{
    font-size: 20px;
}
/* 10 */
h2{
    font-size: 2em;
}
/* 11 */
li{
    line-height: 2;
}
/* 12 */
#characters{
    font-size: 18px;
}
/* 13 */
h4{
    letter-spacing: 15px;
    /* bonus 2 */
    font-family: "Press Start 2P";
}
/* Bonus 3 */
h2, h3, h4{
    text-align: center;
}
/* Bonus 4 */
li{
    font-size: 1rem;
}
/* bonus 5 */
body{
    background-image: url("starTrek.jpg");
    /* bonus 6 */
    color: rgba(255, 255, 255, 0.6);
    /* bonus 7 */
    background-size: cover;
    background-position: center;
    /* Secret extra background */
    background-attachment: fixed;

}
